<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label "User Visible" %>
    <%= form.check_box :updateAvailable, id: :user_updateAvailable %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.number_field :percentage, id: :user_percentage %>
  </div>

  <div class="field">
    <%= form.label :finishestimate %>
    <%= form.number_field :finishestimate, id: :user_finishestimate %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['trickle', 'required', 'optional'], id: :user_status %>
  </div>

  <div class="field">
    <%= form.label :serverError %>
    <%= form.select :serverError, ['no error', '205 partial content', '400 bad request', '403 forbidden', '404 not found', '500 internal server error', '504 gateway timeout', 'garbage_json', 'garbage_html', 'garbage_text'], id: :user_serverError %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
