<p id="notice"><%= notice %></p>

<h1>Users</h1>

<p>Edit your user to change the "Update Available" boolean and the percentage downloaded</p>

<p>hit <%= root_url %>users/&lt;userID&gt;.json to fetch a JSON representation</p>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>User Visible</th>
      <th>Percentage</th>
      <th>Finish Estimate</th>
      <th>Type</th>
      <th>Force Server Error</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.updateAvailable %></td>
        <td><%= user.percentage %></td>
        <td><%= user.finishestimate %></td>
        <td><%= user.status %></td>
        <td><%= user.serverError %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
