<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>"User Visible:"</strong>
  <%= @user.updateAvailable %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @user.percentage %>
</p>

<p>
  <strong>Finish Estimate:</strong>
  <%= @user.finishestimate %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.status %>
</p>
<p>
  <strong>Force Server Error:</strong>
  <%= @user.serverError %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
